

.section-contact{
    height: auto;
    width: 100%;
    font-size: 23px;
    text-align: center;
    background-color: RGB(161, 98, 7);
    color: RGB(254, 249, 195);
    padding: 4rem 0rem 8rem 0rem;
}
.section-contact h1{
    padding: 0 0 4rem 0;
}
.img-contact-container{
    padding-bottom: 2rem;
}
.form-container{
    font-size: 1rem;
    letter-spacing: 1.8px;
}
.contact{
    display: flex;
    flex-direction: column;
}

.img-contact{
    max-width: 100px;
    max-height: 100px;
}
.form-label{
    margin: 10px;
}

.form-input{
    padding: 10px;
    border-radius: 20px;
    color: RGB(113, 63, 18);
    background-color: RGB(254, 249, 195);
}

.textarea{
    width: 180px;
    height: 100px;
}

.button{
    color: RGB(254, 249, 195);
    background-color: RGB(113, 63, 18);
    padding: 8px 22px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all .5 ease;
}

.button:hover{
    color: RGB(66, 32, 6);
    transform: scale(1.1,1.1);
}

@media (max-width: 768px) {
    .section-contact h1{
        font-size: 1.5rem;
    }
}