.home {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

  .divimg {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: auto;
}

  .home_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

  .text-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

  .text-home h1 {
    font-size: 3rem;
}

  .text-home cite {
    font-size: 1.5rem;
    font-style: italic;
}

  @media (max-width: 768px) {
    .text-home h1 {
      font-size: 2rem;
    }
    .text-home cite {
      font-size: 1.2rem;
    }
}

  @media (max-width: 480px) {
    .text-home h1 {
      font-size: 1.5rem;
    }
    .text-home cite {
      font-size: 1rem;
    }
    .home_img {
      width: auto;
    }
}