.nuestro_producto{
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #aa7363;
}

.SectionTitle{
    padding: 2rem;
    font-size: 32px;
}

.containerProducto{
    padding: 2rem 0;
    margin: 0 3rem 4rem 3rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    background-color: rgb(214, 214, 214, .5);
}
.containerProducto p{
    padding: 2rem 0 1rem 1rem;
    max-width: 350px;
    max-height: 500px;
}

.imgContainer{
    width: 15rem;
    padding: 1rem;
}

.imgProducto{
    height: 100%;
    width: 100%;
}